.page{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    font-family: "Inter", sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.title{
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
}